/* 基礎設定 */

* {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* 背景設定 */

html,
body {
    width: 100%;
    height: auto;
    font-size: 16px;
    line-height: 16px;
    font-family: "Century Gothic", "Helvetica Neue", "Open Sans", "Heiti TC", "Microsoft JhengHei", 'Microsoft JhengHei UI Regular', '微軟正黑體 Light', '微軟正黑體', sans-serif;
    color: #333;
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #f0f6f9;
}

html {
    background-color: #FFFFFF;
}


/* 最外層設定 */

.rwd_outer {
    width: 1000px;
    margin: 0 auto;
}

.rwd_outer img {
    display: block;
    width: 100%;
    height: auto;
}


/* 各區外層設定 */

.rwd_outer .title_outer,
.rwd_outer .game_outer,
.rwd_outer .social_outer,
.rwd_outer .info1_outer,
.rwd_outer .info2_outer,
.rwd_outer .info3_outer,
.rwd_outer .banner_outer {
    position: relative;
    width: 100%;
    text-align: center;
}


/* 主標設定 */

.rwd_outer .title_outer>div {
    display: block;
}

.rwd_outer .title_outer>div.mobile {
    display: none;
}


/* 遊戲區設定 */

.rwd_outer .game_outer {
    position: relative;
}

.game_outer .game_box {
    width: 100%;
    height: 0;
    padding-bottom: 63.75%;
    background-image: url("../assets/game_bg1.png");
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 2;
    margin: 0 auto;
}

.game_outer .game_content {
    width: 80%;
    height: 0;
    padding-bottom: 28.2%;
    position: absolute;
    left: 50%;
    top: 28%;
    transform: translateX(-50%);
    overflow: hidden;
    background-color: #fff;
    /* background-color: #fff; */
}
.game_outer .game_content .slot-list1 {
    margin-left: 15.5%;
}

.game_outer .game_content .slot-list2 {
    margin-left: 39%;
}

.game_outer .game_content .slot-list3 {
    margin-left: 63%;
}

.game_outer .game_content .slot-list ul {
    list-style: none;
}

.game_outer .game_content .slot-list ul li{
    transform: translateY(34%);
}

.game_outer .game_btn {
    width: 10%;
    height: 0;
    padding-bottom: 20%;
    position: absolute;
    z-index: 10;
    right: -2.4%;
    top: 13%;
    cursor: pointer;
    overflow: hidden;
}


/* .game_outer .game_btn:hover{
	padding-bottom: 17.5%;
	top: 17%;
} */

@keyframes turn {
    from {
        transform: scaleZ(0deg);
    }
    to {
        transform: scaleZ(180deg);
    }
}


/* .game_outer ul li:nth-child(1) img { transform: rotateZ(0deg);}
.game_outer ul li:nth-child(2) { opacity: 0;}
.game_outer ul li:nth-child(4) {
	width: calc(188/600*100%);
	height: 0;
	padding-bottom: calc(188/600*100%);
	background-image: url("../assets/start1.png");
	-webkit-background-size: cover;
	background-size: cover;
	cursor: pointer;
}
.game_outer ul li:nth-child(4):hover {
	background-image: url("../assets/start2.png");
} */


/* 獎項彈跳視窗區設定 */

.rwd_outer .prize_outer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 999;
}

.rwd_outer .prize_outer ul {
    position: absolute;
    width: 740px;
    height: 420px;
    /* width: 100vw;
	height: calc(420/720*100vw); */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    list-style: none;
}

.rwd_outer .prize_outer ul li {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../assets/prize_win.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    font-size: 180%;
    line-height: 160%;
}

.rwd_outer .prize_outer ul li:before {
    content: "";
    display: inline-block;
    width: 0%;
    height: 100%;
    vertical-align: middle;
}

.rwd_outer .prize_outer ul li div {
    width: 95%;
    /* background: rgba(0,0,0,.2); */
    display: inline-block;
    vertical-align: middle;
    font-weight: bolder;
    color: #333;
}

.rwd_outer .prize_outer ul li div p {
    display: block;
    font-size: 100%;
    line-height: 200%;
}

.rwd_outer .prize_outer ul li div b {
    display: block;
    font-size: 250%;
    line-height: 100%;
}

.rwd_outer .prize_outer ul li div span {
    display: block;
    font-size: 100%;
    line-height: 200%;
}

.rwd_outer .prize_outer ul li div span:before {
    content: "序號：";
    display: inline-block;
}

.rwd_outer .prize_outer ul li div>a {
    text-decoration: none;
}

.rwd_outer .prize_outer ul li div>a:nth-child(4) {
    display: block;
    width: 40%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    font-size: 100%;
    line-height: 200%;
    color: #333;
}

.rwd_outer .prize_outer ul li div>div {
    display: inline-block;
    font-size: 100%;
    line-height: 200%;
    padding-top: 2%;
}

.rwd_outer .prize_outer ul li div>div>a {
    padding: 1% 2%;
    margin: 2%;
    background-color: red;
    border-radius: 5px;
    font-size: 80%;
    line-height: 200%;
    color: white;
}

.rwd_outer .prize_outer ul li i {
    display: block;
    position: absolute;
    width: 5%;
    height: auto;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.rwd_outer .prize_outer.prize_link,
.rwd_outer .prize_outer.prize_num,
.rwd_outer .prize_outer.prize_none,
.rwd_outer .prize_outer.prize_pop1,
.rwd_outer .prize_outer.prize_pop2 {
    display: none;
}


/* .rwd_outer .prize_outer.prize_link {
	display: none;
} */


/* social media區、banner區、APP下載區 共同設定 */

.rwd_outer .social_outer:after,
.rwd_outer .app_outer:after,
.rwd_outer .banner_outer:after {
    content: "";
    display: block;
    height: 0%;
    clear: both;
}


/* social media區、banner區、APP下載區 共同設定 */

.rwd_outer .social_outer:after,
.rwd_outer .app_outer:after,
.rwd_outer .banner_outer:after {
    content: "";
    display: block;
    height: 0%;
    clear: both;
}


/* social media區 設定 */

.rwd_outer .social_outer,
.rwd_outer .app_outer {
    padding: 1.5% 0%;
}

.rwd_outer .social_outer>div,
.rwd_outer .app_outer>div {
    width: 49%;
}

.rwd_outer .social_outer>div:nth-child(1),
.rwd_outer .app_outer>div:nth-child(1) {
    float: left;
}

.rwd_outer .social_outer>div:nth-child(2),
.rwd_outer .app_outer>div:nth-child(2) {
    float: right;
}


/* 遊戲說明文_圖片區設定 */

.rwd_outer .info1_outer {
    margin-bottom: 1.5%;
}


/* 戲說明文區_文字區、獎項說明文區 設定 */

.rwd_outer .info2_outer,
.rwd_outer .info3_outer {
    background-color: #fff;
    padding: 3%;
    text-align: left;
    font-size: 120%;
    line-height: 180%;
    margin-bottom: 1.5%;
}

.rwd_outer .info2_outer ul,
.rwd_outer .info3_outer ul {
    width: 100%;
    margin-left: 3%;
    list-style-type: decimal;
}


/* banner區 設定 */

.rwd_outer .banner_outer>div {
    display: block;
    float: left;
}

.rwd_outer .banner_outer>div:nth-child(n+2) {
    width: 49.25%;
    margin-top: 1.5%;
}

.rwd_outer .banner_outer>div:nth-child(3) {
    margin-left: 1.5%;
}

.copyouter {
    width: 200px;
    height: 100px;
    background: white;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .2);
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 120%;
    z-index: 999999;
    display: none;
}

.copyouter:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}

.copyouter .copynow {
    width: 90%;
    display: inline-block;
    vertical-align: middle;
}


/* 遊戲動態 */

.game01 {
    animation: game01 3s 0s both ease-out 1;
}

.game02 {
    animation: game02 3s 0s both ease-out 1;
}

.game03 {
    animation: game03 3s 0s both ease-out 1;
}

.game04 {
    animation: game04 3s 0s both ease-out 1;
}

.game05 {
    animation: game05 3s 0s both ease-out 1;
}

.game06 {
    animation: game06 3s 0s both ease-out 1;
}

.game07 {
    animation: game07 3s 0s both ease-out 1;
}

.game08 {
    animation: game08 3s 0s both ease-out 1;
}

@keyframes game01 {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(1800deg);
    }
}

@keyframes game02 {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(1755deg);
    }
}

@keyframes game03 {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(1710deg);
    }
}

@keyframes game04 {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(1665deg);
    }
}

@keyframes game05 {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(1620deg);
    }
}

@keyframes game06 {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(1575deg);
    }
}

@keyframes game07 {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(1530deg);
    }
}

@keyframes game08 {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(1485deg);
    }
}

.gameshine {
    animation: gameshine .2s 3s both linear infinite;
}

@keyframes gameshine {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*手持裝置設定*/

@media screen and (max-width: 640px) {
    /* 基礎設定 */
    * {
        margin: 0;
        padding: 0;
        -webkit-text-size-adjust: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    /* 背景設定 */
    html,
    body {
        width: 100%;
        height: auto;
        font-size: 16px;
        line-height: 16px;
        font-family: "Century Gothic", "Helvetica Neue", "Open Sans", "Heiti TC", "Microsoft JhengHei", 'Microsoft JhengHei UI Regular', '微軟正黑體 Light', '微軟正黑體', sans-serif;
        color: #333;
        background-image: url("../assets/bg.jpg");
        -webkit-background-size: contain;
        background-size: contain;
    }
    html {
        background-color: #FFFFFF;
    }
    /* 最外層設定 */
    .rwd_outer {
        width: 100%;
        margin: 0 auto;
        padding: 3vw;
    }
    .game_outer .game_content {
        width: 77%;
    }
    .rwd_outer img {
        display: block;
        width: 100%;
        max-width: 100px;
        height: auto;
    }
    /* 各區外層設定 */
    .rwd_outer .title_outer,
    .rwd_outer .game_outer,
    .rwd_outer .social_outer,
    .rwd_outer .info1_outer,
    .rwd_outer .info2_outer,
    .rwd_outer .info3_outer,
    .rwd_outer .banner_outer {
        position: relative;
        width: 100%;
        text-align: center;
    }
    /* 主標設定 */
    .rwd_outer .title_outer>div {
        display: none;
    }
    .rwd_outer .title_outer>div.mobile {
        display: block;
    }
    /* 遊戲區設定 */
    .rwd_outer .game_outer {
        background-image: url("../assets/game_bg2.png");
        -webkit-background-size: cover;
        background-size: cover;
        padding: 2% 2%;
    }
    /* .game_outer ul {
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        margin: 0 auto;
    }
    .game_outer ul li {
        display: block;
        position: absolute;
        width: 85%;
        height: 85%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    .game_outer ul li:nth-child(1) img {
        transform: rotateZ(0deg);
    }
    .game_outer ul li:nth-child(2) {
        opacity: 0;
    }
    .game_outer ul li:nth-child(4) {
        width: 27%;
        height: 0;
        padding-bottom: 27%;
        background-image: url("../assets/start1.png");
        -webkit-background-size: cover;
        background-size: cover;
        cursor: pointer;
    }
    .game_outer ul li:nth-child(4):hover {
        background-image: url("../assets/start2.png");
    } */
    /* 獎項彈跳視窗區設定 */
    .rwd_outer .prize_outer {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .5);
        z-index: 999;
    }
    .rwd_outer .prize_outer ul {
        position: absolute;
        width: 85vw;
        height: 85vw;
        /* width: 100vw;
	height: calc(420/720*100vw); */
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        text-align: center;
        list-style: none;
    }
    .rwd_outer .prize_outer ul li {
        position: relative;
        width: 100%;
        height: 150%;
        background-image: url("../assets/prize_win2.png");
        -webkit-background-size: none;
        background-size: none;
        font-size: 140%;
        line-height: 140%;
    }
    .rwd_outer .prize_outer ul li:before {
        content: "";
        display: inline-block;
        width: 0%;
        height: 100%;
        vertical-align: middle;
    }
    .rwd_outer .prize_outer ul li div {
        width: 95%;
        /* background: rgba(0,0,0,.2); */
        display: inline-block;
        vertical-align: middle;
        font-weight: bolder;
        color: #333;
    }
    .rwd_outer .prize_outer ul li div p {
        display: block;
        font-size: 100%;
        line-height: 200%;
    }
    .rwd_outer .prize_outer ul li div b {
        display: block;
        font-size: 160%;
        line-height: 100%;
    }
    .rwd_outer .prize_outer ul li div span {
        display: block;
        font-size: 100%;
        line-height: 200%;
    }
    .rwd_outer .prize_outer ul li div span:before {
        content: "序號：";
        display: inline-block;
    }
    .rwd_outer .prize_outer ul li div>a {
        text-decoration: none;
    }
    .rwd_outer .prize_outer ul li div>a:nth-child(4) {
        display: block;
        width: 40%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 5px;
        font-size: 100%;
        line-height: 200%;
        color: #333;
    }
    .rwd_outer .prize_outer ul li div>div {
        display: inline-block;
        font-size: 100%;
        line-height: 200%;
        padding-top: 2%;
    }
    .rwd_outer .prize_outer ul li div>div>a {
        padding: 1% 2%;
        margin: 2%;
        background-color: red;
        border-radius: 5px;
        font-size: 80%;
        line-height: 200%;
        color: white;
    }
    .rwd_outer .prize_outer ul li i {
        display: block;
        position: absolute;
        width: 10%;
        height: auto;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
    }
    .rwd_outer .prize_outer.prize_link,
    .rwd_outer .prize_outer.prize_num,
    .rwd_outer .prize_outer.prize_none,
    .rwd_outer .prize_outer.prize_pop1,
    .rwd_outer .prize_outer.prize_pop2 {
        display: none;
    }
    /* .rwd_outer .prize_outer.prize_link {
	display: none;
} */
    /* social media區、banner區、APP下載區 共同設定 */
    .rwd_outer .social_outer:after,
    .rwd_outer .app_outer:after,
    .rwd_outer .banner_outer:after {
        content: "";
        display: block;
        height: 0%;
        clear: both;
    }
    /* social media區、banner區、APP下載區 共同設定 */
    .rwd_outer .social_outer:after,
    .rwd_outer .app_outer:after,
    .rwd_outer .banner_outer:after {
        content: "";
        display: block;
        height: 0%;
        clear: both;
    }
    /* social media區 設定 */
    .rwd_outer .social_outer,
    .rwd_outer .app_outer {
        padding: 1.5% 0%;
    }
    .rwd_outer .social_outer>div,
    .rwd_outer .app_outer>div {
        width: 49%;
    }
    .rwd_outer .social_outer>div:nth-child(1),
    .rwd_outer .app_outer>div:nth-child(1) {
        float: left;
    }
    .rwd_outer .social_outer>div:nth-child(2),
    .rwd_outer .app_outer>div:nth-child(2) {
        float: right;
    }
    /* 遊戲說明文_圖片區設定 */
    .rwd_outer .info1_outer {
        margin-bottom: 1.5%;
    }
    /* 戲說明文區_文字區、獎項說明文區 設定 */
    .rwd_outer .info2_outer,
    .rwd_outer .info3_outer {
        background-color: #fff;
        padding: 6%;
        text-align: left;
        font-size: 4vw;
        line-height: 180%;
        margin-bottom: 1.5%;
    }
    .rwd_outer .info2_outer ul,
    .rwd_outer .info3_outer ul {
        width: 100%;
        margin-left: 3%;
        list-style-type: decimal;
    }
    /* banner區 設定 */
    .rwd_outer .banner_outer>div {
        float: left;
    }
    .rwd_outer .banner_outer>div:nth-child(n+2) {
        width: 49.25%;
        margin-top: 1.5%;
    }
    .rwd_outer .banner_outer>div:nth-child(3) {
        margin-left: 1.5%;
    }
}

.ezslots>.window {
    overflow: hidden;
    display: inline-block;
}

.ezslots>.window>.slider>.symbol {
    text-align: center;
    display: table;
}

.ezslots>.window>.slider>.symbol>.content {
    padding: 0px;
    margin: 0px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}